ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #6d6d6d;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #9cd2dc;
    color: #111;
  }

.footer{
    margin-left: 10px;
    margin-top: 70px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top_text{
    background-color: #9cd2dc;
    border-radius: 10px;
    padding: 80px;
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 50px;

}

.header1{
    font-size: 40px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;  
}

.textbox1{
    font-size: 40px;
    margin-left: 10px;
    font: Georgia;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;  
  
}

.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
    flex-grow: 1;
    padding: 0 40px;
}

.text_1, .text_2, .text_3{
    width: 10%;
    height: 25em;
    padding: 10px 30px;
}

.header{
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;  
}

.textbox{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;  
}

.header2{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox2{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;  
    display: flex;
    align-items: center;
    justify-content: center;
}

.lang_text{
    margin-top: 80px;
}

table, th, td{
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
}

.data{
    display: flex;
    align-items: center;
    justify-content: center;
}

button{
    background-color: #9cd2dc; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    
}

@media(max-width:1800px){
    .container{
        height: 100%;
        flex-direction: column;
    }
    .text_1, .text_2, .text_3{
        max-width: 80%;
        padding: 30px;
    }
}


.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

.contact_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-details{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}

  .form-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
  }
  
  .form-container {
    max-width: 1000px;
    padding: 10px;
    background-color: white;
  }
  
  .form-container input[type=text], .form-container input[type=textarea] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  .form-container input[type=text]:focus, .form-container input[type=textarea]:focus {
    background-color: #ddd;
    outline: none;
  }
  
textarea{
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

textarea:focus{
    background-color: #ddd;
    outline: none;
}


  .form-container .btn {
    background-color: #9cd2dc;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 103%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  .form-container .cancel {
    background-color: red;
  }
  
  .form-container .btn:hover{
    box-shadow: 5 5 5;
  }

.tac{
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
aa
.tac input:checked ~ .checkmark {
    background-color: #9cd2dc;
  }